<!DOCTYPE html>
<header>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
</header>
{% extends "bootstrap/base.html" %}
{% import "navbar.html" as nav %}
{% block navbar %}
{{ nav }}
{% endblock navbar %}

{% block content %}
<div class="col-md-offset-1 col-md-10 panel panel-default">

    <h2>Board-Analyse</h2>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Warp Koordinaten</h3>
        </div>
        <div>
            <p>Die grünen Linien sollten über das gesamte Spielbrett
                die schwarzen Linien des Brettes überdecken.</p>
            <p>{{ out }}</p>
        </div>
        <div class="panel-body">
            <img src="/get_warp">
        </div>
        <div class="col-md-offset-1 col-md-10">
            <form class="navbar-form navbar-left" action="/warp_store" method="post">
                <input type="submit" class="btn" value="Speichern"></input>
            </form>
            <form class="navbar-form navbar-left" action="/warp_delete" method="post">
                <input type="submit" class="btn" value="Löschen"></input>
            </form>
        </div>
    </div>

</div>
{% endblock %}